*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
nav{
  display: flex;
  justify-content: left;
  align-items:flex-start;
  min-height: 4vh;
  font-family:'Consolas';
}
.back-links{
  position:fixed;
  display: block;
  justify-content:baseline;
  margin-left: 25px;
  bottom: 25px;
}
.back-links li{
  list-style: none;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 10px;
}
.back-links a{
  color:rgb(17, 17, 17);
  text-decoration: none;
  font-family:'Consolas';
}
.nav-links{
  display: block;
  justify-content:baseline;
  margin-left: 45px;
}
.nav-links li{
  list-style: none;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 10px;
}
.nav-links a{
  color:rgb(17, 17, 17);
  text-decoration: none;
  font-family:'Consolas';
}
h1{
  text-align: left;
  font-family:'Consolas';
  font-size: 16px;
  padding: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.textblock{
  position: relative;
  max-width: 60%;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;

}
h2{
  text-align: left;
  font-family:'Consolas';
  font-size: 16px;
  padding: 0;
  font-weight: 100;
}
h3{
  position: relative;
  text-align: left;
  font-family:'Consolas';
  font-size: 16px;
  padding: 0;
  padding-left: 35px;
  padding-top: 10px;
  font-weight: bold;
}
h4{
  position: relative;
  text-align: left;
  font-family:'Consolas';
  font-size: 16px;
  padding: 0;
  padding-left: 35px;
  padding-top: 10px;
  font-weight: bold;
}
button{
  position: relative;
  margin-left: 35px;
  border-radius: 0px;
  margin-top: 10px;
  padding: 2px;
}
img{
  position: relative;
  height: 100%;
  width: 100%;
}
.imgblock{
  position: relative;
  width: 300px;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;

}
#btn {
  position: absolute;
}

.dragfile{
  display: block;
  height: 70px;
  left: 15%;
  width: auto;
  background-color: rgba(0, 0, 255, 0);
}