*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
@font-face {
  font-family: Consolas;
  src: url(//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot?#iefix);
}
nav{
  display: flex;
  justify-content: left;
  align-items:flex-start;
  min-height: 4vh;
  font-family:'Consolas';

}
.nav-links{
  display: block;
  justify-content:baseline;
  margin-left: 45px;
}
.cv-links{
  display: block;
  justify-content:baseline;
  margin-left: 45px;
}
.cv-links li{
  list-style: none;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 10px;
}
.cv-links a{
  color:rgb(17, 17, 17);
  text-decoration: none;
  font-family:'Consolas';
}
.nav-links li{
  list-style: none;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 10px;
}
.nav-links a{
  color:rgb(17, 17, 17);
  text-decoration: none;
  font-family:'Consolas';
}
h1{
  text-align: left;
  font-family:'Consolas';
  font-size: 16px;
  padding: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.textblock{
  position: relative;
  max-width: 60%;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;

}
h2{
  text-align: left;
  font-family:'Consolas';
  font-size: 16px;
  padding: 0;
  font-weight: 100;
}
h3{
  position: relative;
  text-align: left;
  font-family:'Consolas';
  font-size: 16px;
  padding: 0;
  padding-left: 35px;
  padding-top: 10px;
  font-weight: bold;
}
h4{
  position: relative;
  text-align: left;
  font-family:'Consolas';
  font-size: 16px;
  padding: 0;
  padding-left: 35px;
  padding-top: 10px;
  font-weight: bold;
}
.imgblock{
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 35%;
  margin-left: 35px;
  margin-top: 10px;
  background-color: rgb(0, 0, 0);
}
img{
  height: 100%;
  width: 100%;
}
.expand{
  margin-left: 25px;
  margin-top: 10px;
  width: auto;
}
.btnID1{
  position: relative;
  text-align: left;
  font-family:'Consolas';
  font-size: 16px;
  padding: 0;
  padding-left: 35px;
  padding-top: 10px;
  font-weight: bold;
  border: 0;
  display: list-item;
  width: 100px;
}
button#contentbtnID2{
  width: 20%;
  height: 40px;
  border: 0;
  text-align: left;
  font-weight: bold;
  font-family: 'Consolas';
}
button#contentbtnID1{
  width: 20%;
  height: 40px;
  border: 0;
  text-align: left;
  font-weight: bold;
  font-family: 'Consolas';
}
.expand{
  padding: 0;
  margin: 0;
  margin-left: 25px;
}
.dragfile{
  display: flex;
  justify-content: center;
  height: 100px;
  width: auto;
  background-color: rgba(0, 0, 255, 0);
  padding: 0;
}
.dragfile2{
  display:flex;
  justify-content: center;
  height: 100px;
  width: auto;
  background-color: rgba(0, 0, 255, 0);
  padding: 0;
}
a#btndrag{
  background-color: rgba(0, 0, 0, 0);
}
a#btndrag2{
  background-color: rgba(0, 0, 0, 0);
}
a#btndrag3{
  background-color: rgba(0, 0, 0, 0);

}
a#btndrag4{
  background-color: rgba(0, 0, 0, 0);

}
a#btndrag5{
  background-color: rgba(0, 0, 0, 0);

}
a#btndrag6{
  background-color: rgba(0, 0, 0, 0);

}
a#btndrag7{
  background-color: rgba(0, 0, 0, 0);

}
a#btndrag8{
  background-color: rgba(0, 0, 0, 0);

}
.folderbox{
  display: flex;
  justify-content:left;
  background-color: rgba(255, 0, 0, 0);
  height: auto;
  margin-left: 25px;
  width: 100%;
  margin-top: 10px;
}
.folderbox2{
  display: flex;
  justify-content:left;
  background-color: rgba(255, 0, 0, 0);
  height: auto;
  width: 100%;
  margin-left: 25px;
  margin-top: 10px;
}