*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
@media only screen and (min-width: 600px) {
  #lightbox img {
    width: auto;
    max-width: 90%;
    height: auto;
    max-height: 90%;
    border: 3px;
    border-style: solid;
    border-color: white;
  }
  .iconholder{
    display:block;
    background-color: rgb(226, 226, 226);
    height:450px;
    width: auto;
    overflow-y:scroll;
    overflow-x: hidden;
    margin: 4px;
  }
  .mainwindow{
    display:block;
    background-color: rgb(131, 131, 131);
    height: 100%;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 10%;
  }
  .contentbtnID1{
    background-color: rgba(79, 255, 217, 0);
    padding: 2px;
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 25%;
    border: 1px;
    border-style:ridge;
    border-color: rgb(143, 143, 143);
    font-family:'Inconsolata';
  }
  .expand{
    padding-top:10px;
    display: flex;
    justify-content: left;
    width: 100%;
    padding-bottom:10px;
    background-color: rgba(0, 0, 255, 0);
  }
  h1{
    text-align: left;
    display: flex;
    justify-content: center;
    font-family:'Inconsolata';
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h2{
    display: flex;
    text-align: left;
    justify-content: center;
    font-family:'Inconsolata';
    font-size: 16px;
    width: 50%;
    font-weight: normal;
    padding: 0px;
  }
  .spacerwindow3{
    display:block;
    background-color: rgb(25, 25, 233);
    width: 583px;
    height: auto;
  }
  .textblock{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .biotext{
    background-color: rgba(0, 0, 255, 0);
    width: 500px;
    margin-left: 5px;
    margin-top: 5px;
    text-transform: lowercase;
    text-align: left;
    font-family:'Inconsolata';
    margin-bottom: 5px;
  }
  .biotext2{
    background-color: rgba(0, 0, 255, 0);
    width: 500px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: left;
    font-family:'Inconsolata';
    text-transform: lowercase;
    padding: 0;
    margin-bottom: 5px;
  }
  .biotext3{
    background-color: rgba(0, 0, 255, 0);
    width: 500px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: left;
    font-family:'Inconsolata';
    text-transform: lowercase;
    padding: 0;
    margin-bottom: 5px;
  }
  .biotext4{
    background-color: rgba(0, 0, 255, 0);
    width: 500px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: left;
    font-family:'Inconsolata';
    text-transform: lowercase;
    padding: 0;
    margin-bottom: 5px;
  }
  .img1{
    width: 40%;
    display: flex;
    margin-left: 25%;
    height: auto;
  }
  .img2{
    width: auto;
    height: auto;
    max-height: 350px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: rgba(182, 50, 50, 0);
    cursor: pointer;
  }
  .img3{
    width: auto;
    max-width: 500px;
    height: auto;
    max-height: 400px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: rgba(182, 50, 50, 0);
    cursor: pointer;
  }
  .img4{
    width: auto;
    max-width: 500px;
    height: auto;
    max-height: 400px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: rgba(182, 50, 50, 0);
    cursor: pointer;
  }
  .img5{
    width: auto;
    max-width: 500px;
    height: auto;
    max-height: 400px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: rgba(182, 50, 50, 0);
    cursor: pointer;
  }
  .folderbox2{
    display: flex;
    justify-content:center;
    background-color: rgba(118, 255, 209, 0);
    height: 50%;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  #lightbox img {
    width: auto;
    max-width: 98%;
    height: auto;
    max-height: 98%;
    border: 3px;
    border-style: solid;
    background-color: rgba(127, 255, 212, 0);
    border-color: white;
  }
  .expand{
    padding-top:10px;
    display: flex;
    justify-content: left;
    width: 100%;
    padding-bottom:10px;
    background-color: rgba(0, 0, 255, 0);
  }
  .contentbtnID1{
    background-color: rgba(79, 255, 217, 0);
    padding: 2px;
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 5%;
    border: 1px;
    border-style:ridge;
    border-color: rgb(143, 143, 143);
    font-family:'Inconsolata';
  }
  h1{
    text-align: left;
    display: flex;
    justify-content: center;
    font-family:'Inconsolata';
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .biotext{
    text-align: left;
    font-family:'Inconsolata';
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    text-transform: lowercase;
    height: auto;
    background-color: rgba(240, 248, 255, 0);
  }
  .biotext2{
    text-align: left;
    font-family:'Inconsolata';
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    text-transform: lowercase;
    height: auto;
    background-color: rgba(240, 248, 255, 0);
  }
  .biotext3{
    text-align: left;
    font-family:'Inconsolata';
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    text-transform: lowercase;
    height: auto;
    background-color: rgba(240, 248, 255, 0);
  }
  .biotext4{
    text-align: left;
    font-family:'Inconsolata';
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    text-transform: lowercase;
    height: auto;
    background-color: rgba(240, 248, 255, 0);
  }
  .img1{
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    height: auto;
    cursor: pointer;
  }
  .img2{
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  .img3{
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  .img4{
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  .img5{
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  .spacerwindow3{
    display:block;
    background-color: rgb(25, 25, 233);
    width: 100px;
    margin-left: 10px;
    margin-right: 20px;
    padding-right: 1%;
    height: auto;
  }
  .folderbox4{
    display: flex;
    justify-content:left;
    background-color: rgba(118, 255, 209, 0);
    height: auto;
    width: 90%;
    margin-left: 5%;
  }
  .folderbox5{
    display: flex;
    justify-content:left;
    background-color: rgba(118, 255, 209, 0);
    height: auto;
    width: 90%;
    margin-left: 5%;
  }
  .folderbox6{
    display: flex;
    justify-content:left;
    background-color: rgba(118, 255, 209, 0);
    height: auto;
    width: 90%;
    margin-left: 5%;
  }
  .folderbox7{
    display: flex;
    justify-content:left;
    background-color: rgba(118, 255, 209, 0);
    height: auto;
    width: 90%;
    margin-left: 5%;
  }
  .folderbox3{
    display: flex;
    justify-content:left;
    background-color: rgba(118, 255, 209, 0);
    height: auto;
    width: 90%;
    margin-left: 5%;
  }
  .folderbox2{
    display: flex;
    justify-content:left;
    background-color: rgba(118, 255, 209, 0);
    height: auto;
    width: 90%;
    margin-left: 5%;
  }
  .folderbox{
    display: flex;
    justify-content:left;
    background-color: rgba(118, 255, 209, 0);
    height: auto;
    width: 90%;
    margin-left: 5%;
  }
  .space{
    display:block;
    justify-content:center;
    background-color: rgba(52, 202, 84, 0);
    width: 100%;
    height: 100%;
  }
  .desktop{
    display:block;
    justify-content:center;
    background-color: rgb(255, 119, 119);
    width:100%;
    height: 100%
  }
  .mainwindow{
    display:block;
    background-color: rgb(131, 131, 131);
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 10%;
  }
  .textblock{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  h2{
    display: flex;
    text-align: left;
    justify-content: center;
    font-family:'Inconsolata';
    font-size: 16px;
    width: 90%;
    font-weight: normal;
    padding: 0px;
  }
  .iconholder{
    display:block;
    background-color: rgb(226, 226, 226);
    height:450px;
    width: 350px;
    overflow-y:scroll;
    overflow-x: hidden;
    margin: 4px;
  }
}
h3{
  font-family:'Inconsolata';
  justify-content: center;
  align-items: center;
  font-size: 13px;
  transform: translateY(-7.5px);
  color: rgb(0, 0, 0);
  background-color: rgba(172, 31, 31, 0);
  padding-top: 4px;
  padding-left: 4px;
  font-weight: 400;
  height: 7px;
  width: fit-content;
}
h4{
  font-family:'Inconsolata';
  font-size:14px;
  transform: translateY(-5.5px);
  background-color: rgba(71, 166, 255, 0);
  cursor: pointer;
  height: 7px;
  width: fit-content;
}
.xcontainer{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 116, 116);
  margin-top: 2px;
  margin-right: 2px;
  height:16px;
  width: 20px;
}
.questioncontainer{
  display:flex;
  background-color: rgb(158, 158, 158);
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-right: 2px;
  padding-top: 0;
  height:16px;
  width: 20px;
}
h5{
  font-family:'Inconsolata';
  font-size:14px;
  transform: translateY(-4.5px);
  background-color: rgba(71, 166, 255, 0);
  cursor: pointer;
  height: 7px;
  width: fit-content;
}
.btnID1{
  position: relative;
  text-align: left;
  font-family:'Inconsolata';
  font-size: 16px;
  font-weight: bold;
  display:block;
  width: 120px;
  justify-content: center;
}
.dragfile{
  height: 100px;
  width: auto;
  background-color: rgba(0, 0, 255, 0);
  padding: 0;
}
.space{
  display:block;
  justify-content:center;
  background-color: rgba(248, 18, 18, 0);
  width: 100%;
  height: 100%;
}
.desktop{
  display:flex;
  justify-content:center;
  background-color: rgba(83, 83, 83, 0);
  width: 100%;
  height: 100%
}
.window-id{
  display:flex;
  background-color: rgb(209, 209, 209);
  width: 100%;
  height:20px;
}
.icons{
  height: 100px;
  width: auto;
  background-color: rgba(0, 0, 255, 0);
  padding: 0;
}
.leftanchor{
  display:flex;
  justify-content: left;
  align-items: center;
  width: 75%;
  background-color: rgba(216, 74, 74, 0);
}
.rightanchor{
  display: inline-flex;
  justify-content: right;
  width: 25%;
  background-color: rgba(170, 56, 56, 0);
}
.filebuttons{
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: 20px;
  width: 100%;
  background-color: rgba(0, 0, 255, 0);
}
.spacerwindow2{
  display: inline-block;
  background-color: rgba(25, 25, 233, 0);
  width: 89.5px;
  height: 100px;
}
.contentbtnID2{
  background-color: rgb(226, 226, 226);
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px;
  border-style:solid;
  margin-top: 3px;
  margin-left: 3px;
  border-color: rgb(143, 143, 143);
  font-family:'Inconsolata';
}
#lightbox {
  position: fixed;
  z-index: 10000;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(155, 155, 155, 0.8);
  display: none;
}
#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}