*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
nav{
  display: flex;
  justify-content: left;
  align-items:flex-start;
  min-height: 4vh;
  font-family:'Consolas';

}
.nav-links{
  display: block;
  justify-content:baseline;
  margin-left: 45px;
}
.nav-links li{
  list-style: none;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 10px;
}
.nav-links a{
  color:rgb(17, 17, 17);
  text-decoration: none;
  font-family:'Consolas';
}
h1{
  text-align: left;
  font-family:'Consolas';
  font-size: 16px;
  padding: 0;
  padding-left: 20px;
  padding-top: 20px;
}
.textblock{
  position: relative;
  max-width: 60%;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;

}
h2{
  text-align: left;
  font-family:'Consolas';
  font-size: 16px;
  padding: 0;
  font-weight: 100;
}
h3{
  position: relative;
  text-align: left;
  font-family:'Consolas';
  font-size: 16px;
  padding: 0;
  padding-left: 35px;
  padding-top: 10px;
  font-weight: bold;
}
h4{
  position: relative;
  text-align: left;
  font-family:'Consolas';
  font-size: 16px;
  padding: 0;
  padding-left: 35px;
  padding-top: 10px;
  font-weight: bold;
}
.imgblock{
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 35%;
  margin-left: 35px;
  margin-top: 10px;
  background-color: aqua;
}
img{
  height: 100%;
  width: 100%;
}
