*{
  padding: 0;
  margin: 0;
  font-family:'Inconsolata';
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
.Slideshow{
  display:flex;
  justify-content: center;
  background-color: rgb(0, 0, 255);
  width: 50%;
  height: auto;
  margin: auto;
}
.left{
  background-color: rgba(137, 43, 226, 0);
  display:inline-block;
  width:fit-content;
  height:80px;
  padding-left: 25%;
  margin-top: 50px;
}
.right{
  display: inline-flex;
  float: right;
  height: 130px;
  background-color: rgba(43, 226, 73, 0);
  width:56%;
  margin-top: 20px;
}
  .tittle{
    display: flex;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    font-size: 1em;
    background-color: rgba(79, 116, 197, 0);
    font-weight: 600;
    color: rgb(164, 170, 182);
    width:fit-content;
    height:fit-content;
  }
  .contact{
    font-family: 'Inconsolata';
    font-size: 1em;
    font-weight: 400;
    background-color: rgba(123, 255, 0, 0);
    text-align: left;
    color: rgb(150, 150, 150);
    width: 100%;
    height: fit-content;
    text-decoration: none;
  }
  .bio{
    display:none;
    font-size: .9em;
    position: absolute;
    background-color:rgba(153, 59, 59, 0);
    text-align: justify;
    color: rgb(95, 95, 95);
    width: 20%;
    padding:10px;
    height: fit-content;
    left: 1.9%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .bioexpand{
    display: inline;
    font-size: .9em;
    background-color: rgba(15, 247, 255, 0);
    text-align: left;
    color: rgb(150, 150, 150);
    width:100%;
    text-decoration: none;
    cursor: pointer;
    height: fit-content;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .contactexpand{
    display: inline;
    font-size: .9em;
    background-color: rgba(135, 218, 80, 0);
    text-align: left;
    color: rgb(150, 150, 150);
    width:fit-content;
    cursor: pointer;
    height: fit-content;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .workpopup{
    position: relative;
    width: fit-content;
    height: fit-content;
    padding-top: 0;
    background-color: rgba(164, 170, 182, 0);
  }
  .work{
    display: flex;
    align-items: center;
    margin: auto;
    width:200px;
    transform: translateY(0);
    height: 20px;
    font-size: .8em;
    text-align: left;
    border: 1px;
    padding-left: 3px;
    cursor: pointer;
    margin-top: 3px;
    border-color: rgba(107, 107, 107, 0);
    border-style: solid;
    color: rgb(112, 112, 112);
    background-color: rgba(218, 218, 218, 0);  
  }
  .bioexpand .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  @-webkit-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
  }
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  .burger{
    display: none;
  }
  .menu{
    display: none;
    flex-wrap: wrap;
    float: right;
    justify-content: right;
    background-color: rgba(0, 0, 255, 0);
    width: 50%;
    padding-right: 25px;
    margin-top: 20px;
    height: 200px;
  }
  .nav{
    display: flex;
    height: 20px;
    text-align: center;
    color: black;
    background-color: rgba(127, 255, 212, 0);
  }
  .container {
    position: relative;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    width: 100%;
    background-color: rgba(127, 255, 212, 0);
  }
  .mySlides2 {
    display: none;
    width: 100%;
    background-color: rgba(127, 255, 212, 0);
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  .arrows{
    background-color: rgba(132, 104, 158, 0);
    display: flex;
    width: 75%;
    justify-content: right;
    height: fit-content;

  }
  .gallerybtn{
    cursor: pointer;
    position: flex;
    width: auto;
    height: 21px;
    margin-right: 10px;
    margin-top: 6.5px;
    background-color: rgba(8, 8, 99, 0);
    color: rgb(150, 150, 150);
    font-weight: 400;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
  }
  /* Next & previous buttons */
  .prev{
    cursor: pointer;
    position: flex;
    width: auto;
    height: fit-content;
    padding: 4px;
    background-color: rgba(0, 255, 170, 0);
    color: rgb(150, 150, 150);
    font-weight: 200;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
  }
  .next {
    cursor: pointer;
    position: flex;
    width: auto;
    height: fit-content;
    padding: 4px;
    background-color: rgba(0, 0, 255, 0);
    color: rgb(150, 150, 150);
    font-weight: 200;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: rgb(150, 150, 150);
    font-size: 12px;
    padding: 10px 0px;
    position: absolute;
    top: 20px;
    left: 25%;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: rgba(34, 34, 34, 0);
    padding: 2px 16px;
    color: white;
  }
  .row{
    width:40%;
    margin-top: 25px;
    margin-left: 30%;
    height: fit-content;
    display: grid;
    grid-template-columns:repeat(4, 23%);
    justify-content: space-between;
    background-color: rgba(112, 112, 173, 0);
  }
  
  .row:after {
    content: "";
    display: grid;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    display: flex;
    height: fit-content;
    width:fit-content;
    margin-bottom: 15px;
      background-color: rgba(34, 34, 34, 0);
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  img.img1{
    width: 50%;
    margin: 25%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content:center;
  }
  img.img2{
    height: inherit;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content:center;
    cursor: pointer;
  }
@media only screen and (max-device-width:600px)
{
.tittle{
  display:flex;
  font-size: 1.2em;
  background-color: rgba(79, 116, 197, 0);
  text-align: left;
  font-weight: 600;
  padding-bottom: 0px;
  padding-top: 4px;
  margin-top:0;
  width:100%
}
.contact{
  display:flex;
  font-size: 1em;
  background-color: rgba(123, 255, 0, 0);
  text-align: left;
  color: black;
  padding-left: 0px;
  width: 100%;
}
.left{
  background-color: rgba(137, 43, 226, 0);
  float: left;
  width:75%;
  height: 60px; 
}
.right{
  float: right;
  justify-content: center;
  display: flex;
  background-color: rgba(43, 226, 73, 0);
  width: 25%;
  height: 60px; 
}
.bio{
  display:none;
  justify-content: right;
  font-size: .9em;
  background-color: rgba(0, 247, 255, 0);
  text-align: justify;
  color: rgb(0, 0, 0);
  width: 31%;
  padding-top: 2px;
  margin-left: 49%;
  height: auto;
}
.bioexpand{
  display:none;
  justify-content: right;
  font-size: .9em;
  background-color: rgba(0, 247, 255, 0);
  text-align: justify;
  color: rgb(150, 150, 150);
  width: 31%;
  padding-top: 2px;
  margin-left: 49%;
  height: auto;
}
.burger{
  width: fit-content;
  padding:5px;
  height: 20px;
  background-color: rgb(236, 109, 109);
  margin: auto;
  margin-left:30px;
  color: rgb(65, 65, 65);
  cursor: pointer;
}
.menu{
  display: none;
  flex-wrap: wrap;
  float: right;
  justify-content: right;
  background-color: rgba(0, 0, 255, 0);
  width: 50%;
  padding-right: 25px;
  margin-top: 20px;
  height: 200px;
}
.nav{
  display: flex;
  height: 20px;
  text-align: center;
  color: black;
  background-color: rgba(127, 255, 212, 0);
}
.container{
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 255, 0);
}
.img1{
  display:block;
  width: 95%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(0, 0, 255, 0);
}
}
